.step_container{
    width: 50%;
    height: 100%;	
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    background-color: #ffc;
    border: 1px solid #aa0;
    padding: 5px;
    margin: 0 auto;
}

#source, .step, .steps {
    text-align: center;
    flex-direction: column-reverse;
    margin: 5px;
    color: #660;
}

#source, .steps {    
    border: 1px solid #aa0;
    border-radius: 10px;
    padding: 2px;
}

#source {
    background-color: #ffa;
}

.steps {
    background-color: #ff8;    
}

.step h1 {
    color: #660;
}

.button, .line_edit {
    border: 1px solid #660;
    border-radius: 5px;
    background-color: #ffc;
    color: #660;
    padding: 5px;
}